body{
    background-image:url("https://burgercraft.md/img/cover/2019-05-09/cover.jpg");
   
    height:100%;
    font-family: Avenir-Regular, sans-serif;
    font-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.navbar{
    z-index:1000;
    display:flex; 
    padding:30px;
    

}
.logo{
   
    z-index: 1;
    cursor: pointer;
    height: 110px;
    width:110px;
    padding-left: 10px;

}

.topPart .phone{
    background: url(https://burgercraft.md/img/home/ico-phone.svg) no-repeat left center;
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
    line-height: 24px;
    display: inline-block;
    margin: 0 5px 0 5px;
}

.topPart .phone span{
    margin-left: 28px;
    display: inline-block;
    vertical-align: middle;
}
.topPart .mail{
    background: url(https://burgercraft.md/img/home/ico-email.svg) no-repeat left center;
    background-size: auto 23px;
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
    line-height: 24px;
    display: inline-block;
    margin: 0 5px 0 5px;
}

.topPart .mail span{
    margin-left: 28px;
    display: inline-block;
    vertical-align: middle;
}

.topPart .livrare {
    background: url(https://burgercraft.md/img/home/information.svg) no-repeat left center;
    background-size: auto 23px;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    line-height: 24px;
    margin: 0 5px 0 5px;
}
.topPart .livrare span{
    margin-left: 28px;
    display: inline-block;
    vertical-align: middle;
}
.topPart .cart {
    background: url(https://burgercraft.md/img/home/cart.svg) no-repeat left center;
    width: 24px;
    height: 18px;
    background-size: auto 24px;
    position: relative;
    float: right;
    
    
}

.lang span{
    padding-right:5px;
    padding-left:5px;
    
}
