@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar{
  z-index:1000;
  display:flex; 
  padding:30px;
  

  

}
.logo{
 
  z-index: 1;
  cursor: pointer;
  height: 110px;
  width:110px;
  padding-left: 10px;

}

.topPart .phone{
  background: url(https://burgercraft.md/img/home/ico-phone.svg) no-repeat left center;
  font-size: 14px;
  color: #fff;
  vertical-align: middle;
  line-height: 24px;
  display: inline-block;
  margin: 0 5px 0 5px;
}

.topPart .phone span{
  margin-left: 28px;
  display: inline-block;
  vertical-align: middle;
}
.topPart .mail{
  background: url(https://burgercraft.md/img/home/ico-email.svg) no-repeat left center;
  background-size: auto 23px;
  font-size: 14px;
  color: #fff;
  vertical-align: middle;
  line-height: 24px;
  display: inline-block;
  margin: 0 5px 0 5px;
}

.topPart .mail span{
  margin-left: 28px;
  display: inline-block;
  vertical-align: middle;
}

.topPart .livrare {
  background: url(https://burgercraft.md/img/home/information.svg) no-repeat left center;
  background-size: auto 23px;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  line-height: 24px;
  margin: 0 5px 0 5px;
}
.topPart .livrare span{
  margin-left: 28px;
  display: inline-block;
  vertical-align: middle;
}
.topPart .cart {
  background: url(https://burgercraft.md/img/home/cart.svg) no-repeat left center;
  width: 24px;
  height: 18px;
  background-size: auto 24px;
  position: relative;
  float: right;
  
  
}

.lang span{
  padding-right:5px;
  padding-left:5px;
  
}
.container-right{
  float: right;
  width: 720px;
}

.burger-image{
  position: relative;
  padding: 0 235px;
  margin-bottom: 10px;
}


.container-right .burger-image:nth-child(odd) .img-description::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 170px;
  margin: auto;
  width: 60px;
  height: 30px;
  background-image: url('./assets/images/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.container-right .burger-image:nth-child(even) .img-description::after {
  content: '';
  position: absolute;
  top: 20px;
  right: 160px;
  margin: auto;
  width: 60px;
  height: 30px;
  background-image: url('./assets/images/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center;
}
 
.img-description{
  position: absolute;
  top: 20px;
  font-family: Pattaya;
  color: #f8bb46;
  font-size: 36px;
  width: 150px;
  text-align: left;
  text-transform: lowercase;
}
.images > div:nth-child(even) .img-description {
  text-align: left;
  top: 0;
  right:10px;
}

.images > div:nth-child(odd) .img-description {
  left: 0;
  top: 35px;
  text-align: right;}